.BranchesContainer {
  width: 100%;
}
.FormContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 80%;
}
.FormContainer form {
  width: 100%;
}
.form_control {
  display: flex;
  width: 100%;
  padding: 10px;
  justify-content: start;
  align-items: center;
}
.form_control_sub {
  display: flex;
  align-items: center;
  width: 20%;
}
.form_label {
  width: 30%;
}

.form_control_sub .form_input {
  width: 70%;
}
.form_input {
  width: 80%;
}
.form_input input,
.form_input textarea,
.form_input select {
  width: 80%;
  padding: 10px;
  font-size: medium;
  border-radius: 5px;
}
.form_input textarea {
  font-size: large;
}


/* Manage Branch */
.BranchWrapper{
    width: 80%;
    border: 2px solid black;
    border-radius: 5px;
    padding: 10px;
}